<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/logapi"
            class="org.eclipse.orion.server.logs.servlets.LogServlet">
      </servlet>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/logapi"
            class="org.eclipse.orion.server.servlets.LoggedInUserFilter">
      </filter>
      <filter
            alias="/logapi"
            class="org.eclipse.orion.server.servlets.MonitoringUserFilter">
      </filter>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
</plugin>
