<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">

      <servlet
            alias="/site"
            class="org.eclipse.orion.server.hosting.SiteConfigurationServlet">
      </servlet>
      <servlet
            alias="/hosted"
            class="org.eclipse.orion.server.hosting.HostedSiteServlet"
            httpcontextId="org.eclipse.orion.server.httpcontext.site">
      </servlet>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/site"
            class="org.eclipse.orion.server.servlets.AuthorizedUserFilter">
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.hosting.HostedSiteRequestFilter">
            <init-param
                  name="filter-priority"
                  value="-100"/>
      </filter>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.site">
         <mime-mapping
               extension="webapp"
               mime-type="application/x-web-app-manifest+json">
         </mime-mapping>
      </httpcontext>
   </extension>
</plugin>
