.closeCreateUserForm{
	border: none;
}
p.closeCreateUserForm{
	text-align: right;
	margin:0px;
}

img.closeCreateUserForm{
	opacity: 0.5;
}

img.closeCreateUserForm:hover{
	opacity: 1;
}
.createUserForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #131313;
}

#createUserErrorWin {
	backgroud: #bcd5f0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#bcd5f0'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#bcd5f0)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #FFF, #bcd5f0); /* for firefox 3.6+ */
	border: 1px solid #8ba0bd;
	margin: 10px;
	max-width: 300px;
}

div.createUserForm {
	border: 1px solid #cdcdcd;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	padding: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	position: absolute;
	margin-left: -150px;
	left: 50%;
	top: 30%;
	min-width: 300px;
	z-index: 1000;
}

ul.loginError {
	background: url("/mixloginstatic/images/error_tsk.gif") no-repeat left
		center;
	color: red;
	list-style: none;
	padding-left: 20px;
	line-height: 20px;
	font-size: 0.8em;
}

h2.createUserForm {
	font-size: 1.1em;
	font-weight: bold;
	color: #316ac5;
	margin: 0;
}

button.createUserForm {
	border: 1px solid #8ba0bd;
	border-bottom: 1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #bcd5f0 url("/usersstatic/images/buttonEnabled.png")
		repeat-x top left;
	font-size: 12px;
	text-align: center;
	margin-top: 0.7em;
}

button.createUserForm:hover {
	border: 1px solid #8ba0bd;
	border-bottom: 1px solid #657c9c;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #bcd5f0 url("/usersstatic/images/buttonHover.png") repeat-x
		top left;
	font-size: 12px;
	text-align: right;
	margin-top: 0.7em;
}

p.createUserForm {
	font-size: 1em;
	line-height: 1.3em;
}

a.createUserForm {
	font-size: 0.85em;
	font-style: italic;
	text-decoration: none;
	color: #316ac5;
}

a.createUserForm:hover {
	font-size: 0.85em;
	font-style: italic;
	text-decoration: underline;
	color: #316ac5;
}

td.createUserFormButtonTd {
	text-align: right;
}

#createUserFormMask {
	position: absolute;
	background-color: #fff;
	filter: alpha(opacity=50);
	opacity: 0.5;
	border: 0px;
	margin: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}