<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.e4.webide.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.e4.webide.server.configurator.WebApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/file"
            class="org.eclipse.e4.internal.webide.server.servlets.file.NewFileServlet">
      </servlet>
      <servlet
            alias="/workspace"
            class="org.eclipse.e4.internal.webide.server.servlets.workspace.WorkspaceServlet">
      </servlet>
      <servlet
            alias="/filesystems"
            class="org.eclipse.e4.internal.webide.server.servlets.file.FileSystemsServlet">
      </servlet>
      <servlet
            alias="/prefs"
            class="org.eclipse.e4.webide.server.servlets.PreferencesServlet">
      </servlet>
      <servlet
            alias="/project"
            class="org.eclipse.e4.internal.webide.server.servlets.project.ProjectServlet">
      </servlet>
      <servlet
            alias="/solrsearch"
            class="org.apache.solr.servlet.SolrServlet"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.search">
      </servlet>
      <servlet
            alias="/users"
            class="org.eclipse.e4.webide.server.useradmin.servlets.UsersAdminServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="org.eclipse.e4.webide.server.configurator.servlet.WelcomeFileFilter">
      </filter>
      <filter
            alias="/file"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/workspace"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/filesystems"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/prefs"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/project"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/solrsearch"
            class="org.eclipse.e4.webide.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/users"
            class="org.eclipse.e4.webide.server.useradmin.servlets.AdminFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.webide">
         <resource-mapping
               bundle="org.eclipse.e4.webide"
               path="/static"></resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.webeditor">
         <resource-mapping
               bundle="org.eclipse.e4.webeditor"
               path="/web">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.dojo">
         <resource-mapping
               bundle="org.dojotoolkit"
               path="/">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.openajax">
         <resource-mapping
               bundle="org.openajax"
               path="/">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.search">
         <resource-mapping
               bundle="org.eclipse.e4.webide.server.search"
               path="/">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.e4.webide.server.configurator.httpcontext.useradmin">
         <resource-mapping
               bundle="org.eclipse.e4.webide.server.useradmin"
               path="/static">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.webide">
      </resource>
      <resource
            alias="/webeditor"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.webeditor">
      </resource>
      <resource
            alias="/org.dojotoolkit"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.dojo">
      </resource>
      <resource
            alias="/openajax"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.openajax">
      </resource>
      <resource
            alias="/usersstatic"
            httpcontextId="org.eclipse.e4.webide.server.configurator.httpcontext.useradmin">
      </resource>
   </extension>
</plugin>
