<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="system-property-provider"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.eclipse.orion.internal.server.user.securestorage.SystemPropertyPasswordProvider"
            priority="9">
      </provider>
   </extension>
</plugin>
