<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.orion.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.orion.server.jetty.WebApplication">
         </run>
      </application>
   </extension>
   <extension id="org.eclipse.orion.product" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.orion.application" description="%productBlurb"> 
          <property name="appName" value="Orion"/> 
      </product> 
    </extension>
</plugin>
