<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.eclipse.orion.internal.server.core.OrionPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
