<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="toc.xml" primary="true" />
       <index path="index"/>
   </extension>

<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="topics_Reference.xml" />
   </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/jsdoc"
            base-name="/jsdoc">
      </resource>
   </extension>
</plugin>
