<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sftpfile"
         name="SFTP file system"
         point="org.eclipse.core.filesystem.filesystems">
       <filesystem scheme="sftp">
           <run class="org.eclipse.orion.internal.server.sftpfile.SftpFileSystem"/> 
       </filesystem> 
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/file"
            class="org.eclipse.orion.internal.server.servlets.file.NewFileServlet">
      </servlet>
      <servlet
            alias="/workspace"
            class="org.eclipse.orion.internal.server.servlets.workspace.WorkspaceServlet">
      </servlet>
      <servlet
            alias="/prefs"
            class="org.eclipse.orion.server.servlets.PreferencesServlet">
      </servlet>
      <servlet
            alias="/xfer"
            class="org.eclipse.orion.internal.server.servlets.xfer.TransferServlet">
      </servlet>
      <servlet
            alias="/task"
            class="org.eclipse.orion.internal.server.servlets.task.TaskServlet">
      </servlet>
            <servlet
            alias="/users"
            class="org.eclipse.orion.internal.server.servlets.useradmin.UserServlet">
      </servlet>
      <servlet
            alias="/useremailconfirmation"
            class="org.eclipse.orion.internal.server.servlets.useradmin.EmailConfirmationServlet">
      </servlet>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
      <servlet
            alias="/about"
            class="org.eclipse.orion.internal.server.servlets.about.AboutServlet">
      </servlet>
      <servlet
            alias="/version"
            class="org.eclipse.orion.internal.server.servlets.version.VersionServlet">
      </servlet>
      <servlet
            alias="/metrics"
            class="org.eclipse.orion.internal.server.servlets.metrics.GoogleAnalyticsServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.ExcludedExtensionGzipFilter">
         <init-param
               name="excludedExtensions"
               value="jsp, jspx, gif, jpg, png">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.CacheFilter">
         <init-param
               name="directives"
               value="public, max-age=86400, must-revalidate">
         </init-param>
         <init-param
               name="includeMatches"
               value=".*[.](gif|jpg|png|bmp|tif|ico)$">
         </init-param>
         <init-param
               name="excludeMatches"
               value="^/(file|hosted|gitapi)/.*">
         </init-param>
      </filter>
      <filter
            alias="/requirejs"
            class="org.eclipse.orion.server.servlets.CacheFilter">
         <init-param
               name="directives"
               value="public, max-age=86400, must-revalidate">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.CacheFilter">
         <init-param
               name="directives"
               value="max-age=900, must-revalidate">
         </init-param>
         <init-param
               name="includeMatches"
               value=".*[.](pref|woff|ttf)$">
         </init-param>
         <init-param
               name="excludeMatches"
               value="^/(file|hosted|gitapi|requirejs)/.*">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.CacheFilter">
         <init-param
               name="directives"
               value="max-age=43200, must-revalidate">
         </init-param>
         <init-param
               name="includeMatches"
               value=".*[.](js|css)$">
         </init-param>
         <init-param
               name="excludeMatches"
               value="^/(file|hosted|gitapi|requirejs)/.*">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.CacheFilter">
         <init-param
               name="directives"
               value="max-age=0, no-cache, no-store">
         </init-param>
         <init-param
               name="includeMatches"
               value=".*[.](html)$">
         </init-param>
         <init-param
               name="excludeMatches"
               value="^/(file|hosted|gitapi|requirejs)/.*">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.WelcomeFileFilter">
         <init-param
               name="includes"
               value="/">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.ContentTypeFilter">
      </filter>
      <filter
            alias="/prefs"
            class="org.eclipse.orion.server.servlets.LoggedInUserFilter">
      </filter>
      <filter
            alias="/workspace"
            class="org.eclipse.orion.server.servlets.AuthorizedUserFilter">
      </filter>
      <filter
            alias="/file"
            class="org.eclipse.orion.server.servlets.AuthorizedUserFilter">
      </filter>
      <filter
            alias="/xfer"
            class="org.eclipse.orion.server.servlets.AuthorizedUserFilter">
      </filter>
      <filter
            alias="/task"
            class="org.eclipse.orion.server.servlets.AuthorizedUserFilter">
      </filter>
            <filter
            alias="/users"
            class="org.eclipse.orion.server.servlets.LoggedInUserFilter">
            <init-param
               name="redirect"
               value="false">
         </init-param>
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.server.servlets.XSRFPreventionFilter">
      </filter>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.webide">
         <resource-mapping
               bundle="org.eclipse.orion.client.core"
               path="/web">
         </resource-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.ui"
               path="/web">
         </resource-mapping>
         <mime-mapping
               extension="webapp"
               mime-type="application/x-web-app-manifest+json">
         </mime-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.javascript"
               path="/web">
         </resource-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.webtools"
               path="/web">
         </resource-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.help"
               path="/web">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.editor.components">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/orion/editor">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.editor.examples">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/examples/editor">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.examples">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/examples">
         </resource-mapping>
      </httpcontext>    
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.textview.components">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/orion/textview">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.editor.tests">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/js-tests/editor">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.textview.examples">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/examples/textview">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.textview.tests">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web/js-tests/textview">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.userprofile">
         <resource-mapping
               bundle="org.eclipse.orion.client.users"
               path="/web/profile">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.httpcontext.userprofile.components">
         <resource-mapping
               bundle="org.eclipse.orion.client.users"
               path="/web/orion/profile">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="org.eclipse.orion.server.httpcontext.webide">
      </resource>
      <resource
            alias="/orion/editor"
            httpcontextId="org.eclipse.orion.server.httpcontext.editor.components">
      </resource>
      <resource
            alias="/examples/editor"
            httpcontextId="org.eclipse.orion.server.httpcontext.editor.examples">
      </resource>
            <resource
            alias="/examples"
            httpcontextId="org.eclipse.orion.server.httpcontext.examples">
      </resource>
      <resource
            alias="/js-tests/editor"
            httpcontextId="org.eclipse.orion.server.httpcontext.editor.tests">
      </resource>
      <resource
            alias="/orion/textview"
            httpcontextId="org.eclipse.orion.server.httpcontext.textview.components">
      </resource>
      <resource
            alias="/examples/textview"
            httpcontextId="org.eclipse.orion.server.httpcontext.textview.examples">
      </resource>
      <resource
            alias="/js-tests/textview"
            httpcontextId="org.eclipse.orion.server.httpcontext.textview.tests">
      </resource>
      <resource
            alias="/profile"
            httpcontextId="org.eclipse.orion.server.httpcontext.userprofile">
      </resource>
      <resource
            alias="/orion/profile"
            httpcontextId="org.eclipse.orion.server.httpcontext.userprofile.components">
      </resource>
      <serviceSelector
            filter="(other.info=org.eclipse.orion)">
      </serviceSelector>
   </extension>
</plugin>
