<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor
            class="org.eclipse.ilesystem.jackrabbit.ui.GitFileSystemContributor"
            label="%filesystemContributor.label"
            scheme="org.eclipse.orion.server.filesystem.git">
      </filesystemContributor>
   </extension>   
</plugin>
