<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.orion.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.orion.server.configurator.WebApplication">
         </run>
      </application>
   </extension>
    <extension id="org.eclipse.orion.product" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.orion.application" description="%productBlurb"> 
          <property name="appName" value="Orion"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
      </product> 
    </extension> 
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/file"
            class="org.eclipse.orion.internal.server.servlets.file.NewFileServlet">
      </servlet>
      <servlet
            alias="/workspace"
            class="org.eclipse.orion.internal.server.servlets.workspace.WorkspaceServlet">
      </servlet>
      <servlet
            alias="/prefs"
            class="org.eclipse.orion.server.servlets.PreferencesServlet">
      </servlet>
      <servlet
            alias="/filesearch"
            class="org.eclipse.orion.internal.server.search.SearchServlet"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.search">
      </servlet>
      <servlet
            alias="/users"
            class="org.eclipse.orion.server.useradmin.servlets.UserServlet">
      </servlet>
      <servlet
            alias="/xfer"
            class="org.eclipse.orion.internal.server.servlets.xfer.TransferServlet">
      </servlet>
      <servlet
            alias="/git"
            class="org.eclipse.orion.server.git.servlets.GitServlet">
      </servlet>
      <servlet
            alias="/site"
            class="org.eclipse.orion.internal.server.servlets.site.SiteConfigurationServlet">
      </servlet>
      <servlet
            alias="/hosted"
            class="org.eclipse.orion.internal.server.hosting.HostedSiteServlet">
      </servlet>
      <servlet
            alias="/task"
            class="org.eclipse.orion.internal.server.servlets.task.TaskServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="org.eclipse.orion.server.configurator.servlet.WelcomeFileFilter">
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.internal.server.servlets.file.EditSupportFilter">
      </filter>
      <filter
            alias="/"
            class="org.eclipse.orion.internal.server.hosting.HostedSiteRequestFilter">
      </filter>
      <filter
            alias="/file"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/workspace"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/prefs"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/filesearch"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/xfer"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/git"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/site"
            class="org.eclipse.orion.server.configurator.servlet.AuthenticationFilter">
      </filter>
      <filter
            alias="/users"
            class="org.eclipse.orion.server.useradmin.servlets.UserAuthFilter">
      </filter>
      <filter
            alias="/file"
            class="org.eclipse.orion.server.configurator.servlet.AuthorizationFilter">
      </filter>
      <filter
            alias="/xfer"
            class="org.eclipse.orion.server.configurator.servlet.AuthorizationFilter">
      </filter>
      <filter
            alias="/workspace"
            class="org.eclipse.orion.server.configurator.servlet.AuthorizationFilter">
      </filter>
      <filter
            alias="/site"
            class="org.eclipse.orion.server.configurator.servlet.AuthorizationFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.webide">
         <resource-mapping
               bundle="org.eclipse.orion.client.core"
               path="/static"></resource-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.git"
               path="/static">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.editor">
         <resource-mapping
               bundle="org.eclipse.orion.client.editor"
               path="/web">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.dojo">
         <resource-mapping
               bundle="org.dojotoolkit"
               path="/">
         </resource-mapping>
      </httpcontext>
    <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.orion.dojo">
         <resource-mapping
               bundle="org.eclipse.orion.dojo"
               path="/static">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.openajax">
         <resource-mapping
               bundle="org.openajax"
               path="/">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.search">
         <resource-mapping
               bundle="org.eclipse.orion.server.search"
               path="/">
         </resource-mapping>
      </httpcontext>
      <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.useradmin">
         <resource-mapping
               bundle="org.eclipse.orion.server.useradmin"
               path="/static">
         </resource-mapping>
      </httpcontext>
            <httpcontext
            id="org.eclipse.orion.server.configurator.httpcontext.userprofile">
         <resource-mapping
               bundle="org.eclipse.orion.client.users.ui"
               path="/static/user-profile.html">
         </resource-mapping>
         <resource-mapping
               bundle="org.eclipse.orion.client.users.ui"
               path="/static/profile">
         </resource-mapping>
      </httpcontext>
            <httpcontext
                  id="org.eclipse.orion.server.configurator.httpcontext.adminprofile">
               <resource-mapping
                     bundle="org.eclipse.orion.client.users.ui"
                     path="/static/manage-users.html">
               </resource-mapping>
               <resource-mapping
                     bundle="org.eclipse.orion.client.users.ui"
                     path="/static/profile">
               </resource-mapping>
            </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.webide">
      </resource>
      <resource
            alias="/editor"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.editor">
      </resource>
      <resource
            alias="/org.dojotoolkit"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.dojo">
      </resource>
      <resource
            alias="/org.dojotoolkit/orion"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.orion.dojo">
      </resource>
      <resource
            alias="/openajax"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.openajax">
      </resource>
      <resource
            alias="/usersstatic"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.useradmin">
      </resource>
            <resource
            alias="/user-profile.html"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.userprofile">
      </resource>
      <resource
            alias="/profile"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.userprofile">
      </resource>
      <resource
            alias="/manage-users.html"
            httpcontextId="org.eclipse.orion.server.configurator.httpcontext.adminprofile">
      </resource>
   </extension>
</plugin>
